.dog-image-list {
  ul {
    width: 80%;
    margin: 0 auto !important;
    height: 100vh;
    overflow: auto;

    li {
      cursor: pointer;
      width: 30%;
      height: 200px;
      padding: 5px;
    }
  }
}

.image-dialog {
  .MuiDialog-paperWidthSm-14 {
    max-width: none;
    max-height: 100%;
  }

  img {
    height: 100vh;
  }

  .modal-close-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 40px;
    pointer-events: none;
  }
}
