$break-small: 375px;
$break-md: 768px;
$break-large: 1200px;

.dog-image-list {
  ul {
    width: 80%;
    margin: 0 auto !important;
    height: 100vh;
    overflow: auto;

    li {
      cursor: pointer;
      width: 30%;
      height: 200px;
      padding: 5px;
    }

    img {
      width: 100%; 
    }
  }
}

.image-dialog {
  .MuiDialog-paperWidthSm-14 {
    max-width: none;
    max-height: 100%;
  }

  > div:first-of-type {
    background-color: rgba(0, 0, 0, 0.8);
  }

  img {
    height: 100vh;
    @media screen and (max-width: $break-md) {
      width: 100%;
      height: auto;
    }
  }

  .modal-close-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 40px;
    pointer-events: none;
  }
}
