.dog-image-list {
  ul {
    width: 80%;
    margin: 0 auto !important;

    li {
      cursor: pointer;
      width: 30%;
      height: 200px;
      padding: 5px;
    }
  }
}

.image-dialog {
  img {
    width: 100%;
  }
}
